HASHING_SALT_ROUNDS=10
LOGIN_EXPIRED=3600
VERIFY_EXPIRED=300

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=
SMTP_PASS=

DATABASE_URL="file:local.db"
# DATABASE_AUTH_TOKEN="ff7b6ab6-4d7f-4627-a603-e5d67253cdc7"

FILE_IMG_SIZE_MAXLIMIT=2024000